*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 10px;
}

body{
    background-color:rgb(246,248,249);
   
}

.toobolist{
    display: inline;
    font-size: 60px;
}
    

.whitebox{
    background-color: white;
    padding: 15px;
    padding-left: 40px ;
    width: 800px;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 3px;
}

.background{
    height: 500px;
    width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    vertical-align: auto;
}

.button1{
    background-color:rgb(69,171,234);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    border-color:rgb(69,171,234) ;
    margin-left: 20px ;    
}
    
.button2{
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color:gray;
    border-color: grey;
}

ul{
    list-style-type: none;
    padding-left: 25px;
    
}

.newtask{
    font-weight: bold;
    font-size:x-large ;
    font-weight: 1000;
    
}

    
.task{
    padding-left: 10px;
    font-weight:bolder ;
    padding-bottom:10px;
    
}

.last{
    padding-bottom: 40px;
}

.editorial{
    background-color: rgb(69,171,234);
    display: inline;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}

.q1goals{
    background-color: rgb(156,114,228);
    display: inline;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}

.recruiting{
    background-color: rgb(100,192,169);
    display: inline;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}

.mobile{
    background-color: rgb(242,158,52);
    display: inline;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}

.website{
    background-color: rgb(216,99,161);
    display: inline;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}

.sales{
    background-color: rgb(176,201,38);
    display: inline;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}
    




  
  




    
